[Desktop Entry]
Name = Antiviral
Comment = Antiviral
GenericName = Antiviral
Exec = /opt/extras.ubuntu.com/antiviral/bin/antiviral
Icon = /opt/extras.ubuntu.com/antiviral/share/pixmaps/antiviral.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
Name[fr] = Antiviral
Name[es] = Antiviral
Name[hu] = Antiviral
Name[de] = Anti-Virus
Name[ru] = Antiviral
Name[ms] = Antiviral
Comment[fr] = Antiviral
Comment[es] = Antiviral
Comment[hu] = Antiviral
Comment[de] = Anti-Virus
Comment[ru] = Antiviral
Comment[ms] = Antiviral
GenericName[fr] = Antiviral
GenericName[es] = Antiviral
GenericName[hu] = Antiviral
GenericName[de] = Anti-Virus
GenericName[ru] = Antiviral
GenericName[ms] = Antiviral
